*~
febootstrap*.8
febootstrap*.txt
febootstrap-*.tar.gz
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
febootstrap.spec
febootstrap
febootstrap-run
febootstrap-minimize
febootstrap-to-initramfs
install-sh
missing
stamp-h1
examples/guestfs
examples/*-initrd.img
examples/guest-image
examples/minimal
examples/vmlinuz
examples/zero
