*~
*.cdbs-orig
*.cmi
*.cmo
*.cmx
*.o
*.a
.deps
Makefile.in
Makefile
aclocal.m4
/arg-nonnull.h
autom4te.cache
/c++defs.h
compile
config.guess
config.h.in
config.h
config.log
config.ml
config.status
config.sub
configure
cscope.out
depcomp
febootstrap
febootstrap*.8
febootstrap*.txt
febootstrap-*.tar.gz
helper/ext2init.S
helper/febootstrap-supermin-helper
helper/init
html/febootstrap-supermin-helper.8.html
html/febootstrap.8.html
lib/alloca.h
lib/arg-nonnull.h
lib/c++defs.h
lib/dirent.h
lib/fcntl.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/sys/
lib/time.h
lib/unistd.h
lib/warn-on-use.h
lib/wchar.h
/local*
INSTALL
install-sh
missing
pod2htm?.tmp
stamp-h1
/warn-on-use.h
examples/guestfs
examples/*-initrd.img
examples/guest-image
examples/minimal
examples/vmlinuz
examples/zero
