/alloca.in.h
/asnprintf.c
/asprintf.c
/at-func.c
/basename-lgpl.c
/bitrotate.h
/c-ctype.c
/c-ctype.h
/chdir-long.c
/chdir-long.h
/chown.c
/cloexec.c
/cloexec.h
/close.c
/closedir.c
/close-hook.c
/close-hook.h
/creat-safer.c
/cycle-check.c
/cycle-check.h
/dev-ino.h
/dirent--.h
/dirent.in.h
/dirent-private.h
/dirent-safer.h
/dirfd.c
/dirname.h
/dirname-lgpl.c
/dosname.h
/dummy.c
/dup2.c
/dup.c
/dup-safer.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fchdir.c
/fchmodat.c
/fchownat.c
/fchown-stub.c
/fclose.c
/fcntl.c
/fcntl--.h
/fcntl.in.h
/fcntl-safer.h
/fd-hook.c
/fd-hook.h
/fdopendir.c
/fd-safer.c
/filenamecat.h
/filenamecat-lgpl.c
/filename.h
/filevercmp.c
/filevercmp.h
/float.c
/float+.h
/float.in.h
/fstatat.c
/fstat.c
/fts.c
/fts-cycle.c
/fts_.h
/full-write.c
/full-write.h
/getcwd.c
/getcwd-lgpl.c
/getdtablesize.c
/getopt1.c
/getopt.c
/getopt.h
/getopt.in.h
/getopt_int.h
/gettext.h
/hash.c
/hash.h
/hash-pjw.c
/hash-pjw.h
/intprops.h
/inttypes.h
/inttypes.in.h
/i-ring.c
/i-ring.h
/itold.c
/lchown.c
/lstat.c
/Makefile.am
/malloc.c
/memchr.c
/memchr.valgrind
/mempcpy.c
/memrchr.c
/mkdirat.c
/mkdir.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/openat.c
/openat-die.c
/openat.h
/openat-priv.h
/openat-proc.c
/openat-safer.c
/open.c
/opendir.c
/opendir-safer.c
/open-safer.c
/pathmax.h
/pipe-safer.c
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/raise.c
/readdir.c
/realloc.c
/rmdir.c
/safe-read.c
/safe-read.h
/safe-write.c
/safe-write.h
/same-inode.h
/save-cwd.c
/save-cwd.h
/signal.h
/signal.in.h
/size_max.h
/stat.c
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.in.h
/stdio-write.c
/stdlib.in.h
/strdup.c
/strerror.c
/strerror-override.c
/strerror-override.h
/string.in.h
/stripslash.c
/sys_stat.in.h
/sys_wait.in.h
/time.in.h
/unistd--.h
/unistd.in.h
/unistd-safer.h
/unlinkat.c
/unlink.c
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/verify.h
/wchar.in.h
/write.c
/xalloc-die.c
/xalloc.h
/xalloc-oversized.h
/xasprintf.c
/xgetcwd.c
/xgetcwd.h
/xmalloc.c
/xsize.h
/xstrtol.c
/xstrtol-error.c
/xstrtol.h
/xstrtoul.c
/xvasprintf.c
/xvasprintf.h
