Source: febootstrap
Section: libs
Priority: extra
Maintainer: Richard Jones <rjones@redhat.com>
Uploaders: Richard Jones <rjones@redhat.com>, Guido Günther <agx@sigxcpu.org>
Build-Depends: debhelper (>= 7), ocaml, ocaml-findlib, aptitude,
 module-init-tools, e2fslibs-dev, e2fsprogs
Homepage: http://people.redhat.com/~rjones/febootstrap
Standards-Version: 3.8.2

Package: febootstrap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: bootstrapping tool for creating supermin appliances
 febootstrap is a tool for building supermin appliances. These are
 tiny appliances [similar to virtual machines], usually around 100KB
 in size, which get fully instantiated on-the-fly in a fraction of a
 second when you need to boot one of them.
